@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #181e20;
    --foreground: #ededed;
  }
} */

:root {
  --background: #ffffff;
  --background-secondary: #d4d4d4;
  --bg-soft: #1d1f20;
  --foreground: #171717;
  --megaMenu-bg: #101828;
}

[data-theme="dark"] {
  --background: #191d20;
  --background-secondary: #14191b;
  --bg-soft: #1d1f20;
  --foreground: #ededed;
  --megaMenu-bg: #101828;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.theme-light {
  --text-body: rgb(54, 49, 61);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
}
.theme-dark {
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-high-contrast-rgb-value: 230, 230, 230;
}

a {
  cursor: pointer;
}

.embla {
  width: 100%;
  margin: auto;
  --slide-height: 492px;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 10px;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  /* min-height: var(--slide-height);
  max-height: var(--slide-height); */
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  /* --thumbs-slide-height: 200px; */
  margin-top: var(--thumbs-slide-spacing);
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

.embla-thumbs__slide__number {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.embla-thumbs__slide__number img {
  border-radius: 14px;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

@media (max-width: 576px) {
  .embla__slide__number {
    min-height: auto !important;
    max-height: auto !important;
  }
}

@media (min-width: 640px) {
  .sm-top-custom {
    top: 0px;
  }
  .embla__slide__number img {
    min-height: auto;
    max-height: auto;
  }
}

@media (min-width: 768px) {
  .md-top-custom {
    top: -30px;
  }
  .embla__slide__number img {
    min-height: auto;
    max-height: auto;
  }
}

@media (min-width: 1024px) {
  .lg-top-custom {
    top: -40px;
  }
  .embla__slide__number img {
    min-height: 322px;
    max-height: 322px;
  }
}

@media (min-width: 1279px) {
  .xl-top-custom {
    top: -75px;
  }
  .embla__slide__number img {
    min-height: 464px;
    max-height: 464px;
  }
}

@media (min-width: 1532px) {
  .xxl-top-custom {
    top: -55px;
  }
  .embla__slide__number img {
    min-height: 464px;
    max-height: 464px;
  }
}

/* HEADER SECTION */

nav img {
  max-width: 15px;
}

/* Scroll Stick */

/* global.css veya uygun bir CSS dosyanıza ekleyin */
::-webkit-scrollbar {
  width: 8px; /* İstediğiniz genişliğe göre ayarlayın */
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Kaydırma çubuğu renk */
  border-radius: 10px; /* Köşeleri yuvarlama */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Üzerine gelindiğinde renk değişimi */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Arka plan rengi */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover durumu için thumb rengi */
}

@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
}

/* GLOW ANIMATION */

.poplar-game-card {
  padding: 5px;
  border-radius: 10px;
}

.poplar-game-card img {
  z-index: 2;
}

.popular-card-content {
  z-index: 3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.poplar-game-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: #9d5523;
}

.poplar-game-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: #9d5523;
  filter: blur(20px);
  opacity: 0.75;
}

.glow {
  position: relative;
}

.glow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  animation: rotating 4s linear infinite;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #f0f,
    #0ff
  );
}

.glow::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  animation: rotating 4s linear infinite;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #f0f,
    #0ff
  );
  filter: blur(10px);
  opacity: 0.75;
}

.glow .glow-inside {
  z-index: 1;
  border-radius: 10px;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

/* SWIPER CAROUSEL */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advert-tabs {
  display: flex;
  justify-content: space-between;
  overflow-x: unset;
}

@media (max-width: 1024px) {
  .advert-tabs {
    display: flex;
    overflow-x: scroll;
  }
}

.megaMenu {
  background-color: var(--megaMenu-bg);
  color: var(--foreground);
}

/* OFFER SLIDER */

.offer {
  width: 100%; /* veya istediğin bir genişlik */
  height: auto; /* içeriklerin toplam yüksekliğine göre */
  overflow: hidden; /* taşan içeriği gizler */
}

.offer .embla {
  overflow: hidden;
}

.offer .embla__container {
  display: flex;
  align-items: center; /* dikey merkezleme */
  justify-content: center; /* içerikleri yatayda ayırır */
}

.offer .embla__slide {
  position: relative;
  flex: 0 0 25%; /* Her slaytın genişliği */
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.offer .embla__slide__img {
  width: 100%;
  border-radius: 8px;
}

.offer .slide__content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.offer .tag,
.offer .price,
.offer .description {
  margin: 5px 0;
}

/* Orta kart için vurgulama */
.offer .embla__slide--active {
  transform: scale(1.1);
  z-index: 1;
}
